/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%; /* 10 px */
  /* box-sizing: border-box; this doesn't work for some reason */
  --primary-bg-color: hsl(233, 47%, 7%);
  --primary-card-color: hsl(244, 38%, 16%);
  --primary-accent-color: hsla(277, 64%, 61%, 0.75);
  --white-color: hsl(0, 0%, 100%);
  --white-color-75: hsla(0, 0%, 100%, 0.75);
  --white-color-60: hsla(0, 0%, 100%, 0.6);
}

/* CSS from Frontend Mentor */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  outline: 3px solid red;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));  */
/*  16 + (32 - 16) * (100vw - 375px) / (1440 - 375) 

1440 - 375 = 1065
 at 1440 vw font is 32px which is max
 at 375 vw font is 16px



*/

/* Container's setup */
main {
  background-color: var(--primary-card-color);
  /* height: 446px;  needs 780 */
  /* height: min(446px, max(99vw, 780px)); */
  height: 446px;

  min-width: 327px; /* min-width required because clamp minimum doesn't hold */
  width: clamp(327px, 85vw, 1110px);
  display: flex;
  flex-direction: row-reverse;

  color: var(--white-color);

  border-radius: 0.8rem;
  overflow: hidden;
}

section {
  /* padding-left: 7.2rem; */
  padding-left: clamp(3rem, 7%, 7.2rem);
  width: 570px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

ul {
  display: flex;
  gap: 6rem;
}

figure {
  flex-shrink: 0; /*img wants to shrink without this set to 0 */
  width: 540px;
  max-width: 100%;
  /* min-height: 446px; */
  height: auto;
  background-image: url("./images/image-header-desktop.jpg"); /* 540 x 446 */
  background-size: cover;
  background-repeat: no-repeat;
}

.mask {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%));
  mix-blend-mode: multiply;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2.5;
  text-transform: uppercase;
  text-align: left;
  color: var(--white-color-60);
}

.lowercase {
  text-transform: lowercase;
}

li span {
  color: var(--white-color);
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 700;
}

/* text */

h1 {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(2.8rem, 3vw, 3.6rem);
  line-height: clamp(3.2rem, 4vw, 4.4rem);

  color: var(--white-color);
}

h1 span {
  color: var(--primary-accent-color);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 40ch;
  color: var(--white-color-75);
}

/* mobile design */
@media only screen and (max-width: 1200px) {
  main {
    flex-direction: column;
    height: 780px;
    width: 327px;
  }

  figure {
    width: 100%;
    height: auto;
    padding-bottom: 100%; /*the img needs content since its a background img*/
  }
}
